
.content{position: relative; }


.bkg{position: relative;height: 700px; width: 100%;overflow: hidden;}
.bkg img{position: absolute;left: 50%;top: 50%; margin-left: -960px;margin-top: -370px; }
.bkg a{position: absolute;display: none;}



.banner{position: relative; height: 420px;overflow: hidden;}
/*.banner:after{content: '';position: absolute; width: 100%;height: 1px;bottom: 0;left: 0;background: #fff;}*/
.banner li{position: absolute;top: 0;left: 50%;width: 1920px;height: 500px; margin-left: -960px; vertical-align: top;text-align: center;}

.slide_alt{display: none; position: absolute;left: 0;bottom: 0;width: 100%;height: 32px;line-height: 32px;background: rgba(0,0,0,0.5);}
.slide_crl{ position: absolute;left: 50%;width: 400px;margin-left: -200px; bottom: 15px; text-align: center;text-align: center;}
.slide_crl b{display:inline-block;position: relative; width:12px; height:12px;text-indent:-999em;background: url(#); background: rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); border-radius:6px; overflow: hidden;margin:0 5px; cursor:pointer; behavior:url(/css/pie.htc); }
.slide_crl b:hover{background: rgba(0,0,0,0.4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); }
.slide_crl b.on{background: #f0450a;}



.login{position: absolute;right: 50%;top: 97px; margin-top: 0px;margin-right:-495px;height: 420px;text-align: right; border-radius: 2px;}
.login:before{content: ''; width: 1px;height: 100%;display: inline-block;vertical-align: middle;}


.login form{display: inline-block;vertical-align: middle;text-align: left; position: relative; left:100px; width: 300px; padding: 15px 15px;
	background: rgba(0,0,0,0.5); 
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
}
.login form h2{line-height: 56px;font-size: 22px;font-weight: normal;color: #fff;margin: 0 20px; }
.login .fukrm cite{display: block;margin-bottom: 10px;margin-left: 10px;overflow: hidden;}
.login .fukrm cite img{float: left;background: #ddd;width: 38px;height: 38px;}
.login .fukrm_item{float: left;}

.login .fukrm input[type="text"],
.login .fukrm input[type="password"]{width: 190px;border: none; border-radius: 0;}
.login .fukrm input[type="submit"]{width: 250px;margin: 0;font-size: 18px;font-weight: bold; }
.login .fukrm input[type="checkbox"]+span{margin-right: 0;color: #fff;}




.login .fukrm b.checkcode{float: right;width: 80px; height: 39px;margin-right:45px;;overflow: hidden; border:1px solid #cdcbcb; background: none;}
.login .fukrm b.checkcode img{width: 100%;height: 100%;}
.login .fukrm cite.form_remember{height: 30px;margin-top: -10px;margin-bottom: 10px;color:#ef4720;}
.login .fukrm cite.form_remember em a{text-decoration: none;color: #f00;}
.login .fukrm cite.form_remember em a:hover{text-decoration: underline;}
.login .fukrm cite.form_remember label{line-height: 24px;float: left;margin-right: 5px;}
.login .fukrm em{font-style: normal;}

.login .fukrm_item i{ position: relative;left: 0; line-height: 18px;height: 18px;margin-left: -30px;color: #ee2323;padding-left: 30px;background-color: transparent;border:none;}
.login .fukrm_item i.form-note-success{display: none;}
.login .fukrm_item i.form-note-warn{display: block;}
.login .fukrm_item i.form-note-error{display: block;}
.login .fukrm_item i:before{display: none;}
.login .fukrm_item i:after{display: none;}





.index_service{width: 990px;padding: 30px 0 40px;margin: 0 auto; background: #fff;}
.index_service h2{width: 900px;margin: 0 auto;padding: 20px 0 20px; font-size: 28px;font-weight: normal;color: #2e3c50;}
.index_service ul{width: 900px;margin: 0 auto;overflow: hidden;}
.index_service li{float: left;width: 25%;line-height: 24px;}
.index_service h3{font-size: 18px;color: #333;line-height: 28px;font-weight: normal;margin-bottom: 5px;}
.index_service p{color: #fd8c54;}
.index_service p a{display: inline-block; height: 24px;line-height: 24px;color: #fff; padding: 0 10px;background: #626365;border-radius: 5px;}



.friendlink{position: relative; clear:both;width: 1100px;margin: 0 auto;}
.friendlink h2{position: relative; width: 1000px; text-indent: 15px;  margin: 0px auto;font-size: 22px; line-height: 30px;font-weight: normal;}
.friendlink h2:before{content: '';position: absolute;left: 0;top: 0; height: 100%; width: 5px;background: #f0450a;}


.friendlink_scroll{position: relative; width: 1100px;margin: 0 auto; overflow: hidden;}
.friendlink >i{position: absolute;top: 50%;margin-top: -18px; width: 36px;height: 36px; cursor: pointer;background-image:url(/images/scroll_icon.png);}
.friendlink_left{left: 50%;margin-left: -500px;}
.friendlink_right{right: 50%;margin-right: -500px; background-position: -36px 0;}
.friendlink_left:hover{background-position:0 -36px; }
.friendlink_right:hover{background-position:-36px -36px; }


.friendlink_scroll ul{width: 800%;}
.friendlink_scroll li{float: left;width: 1100px;height: 300px;}
.friendlink_scroll li a{display: block;width: 100%;height: 100%;}

.friendlink_marke{position: absolute;top: 0;left: 50%;margin-left: -550px; width: 1100px;height: 300px; background: #000; opacity: 0.5;}

.friendlink_dis{position: absolute;top: 130px;left: 50%;margin-left: -400px; width: 240px;height: 170px; background: url(/images/index_friend_bkg.png) no-repeat;}
.friendlink_dis h3{padding: 0 30px; font-size: 16px;color: #626365;line-height: 36px;margin-top: 5px;border-bottom: 2px solid #626365; font-weight: normal;}
.friendlink_dis p{padding: 5px 30px;font-size: 12px;line-height: 24px;color: #7e7e7f;}



/*���Ի���ʲô*/
.what{padding: 20px 0 40px;width: 990px;margin: 0 auto; background: #f4f4f4;}
.what h2{position: relative;padding: 20px 0;text-align: center; width: 1000px; text-indent: 15px;  margin: 0px auto;font-size: 22px; line-height: 30px;font-weight: normal;}
/*.what h2:before{content: '';position: absolute;left: 0;top: 0; height: 100%; width: 5px;background: #f0450a;}*/


.what ul{width: 1000px;margin: 20px auto 0;overflow: hidden;}
.what li{float: left; width: 33.3%;height: 200px;text-align: center;}
.what li strong{display: block;font-size: 18px;margin: 10px 50px;white-space: nowrap;font-weight: normal;}
.what img{vertical-align: top;}
.what span{display: block;margin: 0 55px;text-align: left; font-size: 12px;line-height: 22px;color: #777;}


.index_join{position: relative; background: #fff;height: 70px;}
.index_join strong{ position: absolute;top: 0;left: 50%;color: #fff;  margin-left: -495px; width: 130px;height: 50px; padding: 10px 30px 10px 20px;font-weight: normal; white-space: nowrap; background: url(/images/index_join_tle.png) no-repeat right center;}
.index_join strong b{display: inline-block;font-weight: normal; vertical-align: bottom; font-size: 22px;}
.index_join_cnt{position: absolute;right: 50%;margin-right: -495px;width: 816px;height: 70px; overflow: hidden;}
.index_join_cnt ul{position: absolute;right: 0;top: 0; width: 800%;height: 100%;}
.index_join_cnt li{float: right;padding: 0 20px; height:70px;}
.index_join_cnt li:before{content:'';display:inline-block;width:1px;height:100%;vertical-align: middle;}
.index_join_cnt li img{max-height:60px;height: 50px; vertical-align: middle;}

/*����*/
.description cite{display: block; text-align:center;font-style: normal; padding-top:15px; padding-bottom:10px;}
.description cite a{display:inline-block; width:152px;text-indent: -999em; overflow: hidden; height:28px; background:url('/images/more.png') no-repeat;}
cite.description_top a:hover {background-position:0 -30px;}
cite.description_bottom{display: none; margin-top: -20px;padding-top: 20px;}
cite.description_top.on a,cite.description_bottom a{background-position: 0 -60px;}
cite.description_top.on a:hover,cite.description_bottom a:hover{background-position:0 -90px;}


.description ul {overflow:hidden;}
.description li {margin-top: -420px;  position: relative; text-align:center; height:400px;overflow: hidden; margin-bottom:20px; /*margin-top:-330px;*/}
.description li img{position: absolute;top: 0;left: 50%;width: 1920px;margin-left: -960px;}





